.add-product{
    display: flex;
    text-align: center;
    /* flex-direction: column; */
    /* width:max-content; */
    justify-content: center;
}
.message-p{
    color: rgb(10, 171, 10);
	/* background-color: rgb(10, 171, 10); */
	font-size: 15px;
	/* border: 2px solid #FFA400; */
	text-transform: capitalize;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 20px;
}
.box-col{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#FFA400;
  
}

.common-form
{
text-align: center;
display: align-items-sm-start;
display: flex;
margin: 0%;
flex-direction: column;
width: 100%;
}


.form-input{
height: 40px;
margin-bottom: 10px;
border: 2px solid #FFA400;
padding: 10px;
}

.form-button{
    border: 2px solid #FFA400;    
    padding: 10px;
    cursor: pointer;
}
#hyperlink{
    cursor: pointer;
    font-size: small;
}