* {
	box-sizing: border-box;
	
}
.app-navbar{
    margin: 0;
}
#nav1{
    /* padding: 0; */
    margin: 0;
}
/* ul {
	display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;

}

a {
	color: #232528;
}

a {
	text-decoration: none;
}



.main-nav {
	margin-top: 0px;
    margin-left: 40%;
}





.main-nav a {
	color: #232528;
	padding: 0px 15px;
	font-size: 15px;
	text-align: center;
	display: block;
}

.main-nav a:hover {
	color: #FFA400;
} */
