table{
    text-align: left;
    color:  #FFA400;;
    border-collapse: collapse;
}
/* .dis{
    height: 100px;
    width: 100px;
} */
img{
    width:100%;
    padding: 20px;
    height:100px;
    object-fit:cover;
    object-position:50% 50%;
}
table td , table th{
    border: 1px solid  #FFA400;;
    padding: 10px;
    min-width: 160pxs;
}
.adjust-update-link{
    margin-left: 10px;
}